<div flex layout="column" layout-align="start stretch" class="landing-page">
	<div flex layout layout-align="start stretch" class="home-content">
		<div flex layout layout-align="start stretch" class="search-page">
			<div flex="35" hide-xs hide-sm hide-md show-lg show-xl></div>
			<div flex="25" hide-xs show-sm show-md hide-lg hide-xl></div>
			<div flex layout="column" layout-align="start stretch">
				<div flex="20"></div>
				<div flex layout layout-align="start stretch" class="search-form" layout-padding>
					<div flex layout="column" layout-align="start stretch">
						<div flex="5"></div>
						<div flex="10" layout layout-align="center center" class="form-header"> Help us understand what you need </div>
						<div flex="10"></div>
						<div flex="10" layout layout-align="start stretch" my-setter margin="10">
							<md-icon flex="none" md-svg-src="{{SVG.manufacturer}}" layout layout-align="center center"  my-setter margin="10" ></md-icon>
							<select flex>
								<option value="1"> Izusu <option>
							</select>
						</div>
						<div flex="10" layout layout-align="start stretch" my-setter margin="10">
							<md-icon flex="none" md-svg-src="{{SVG.truck}}" layout layout-align="center center"  my-setter margin="10" ></md-icon>
							<input flex type="text" placeholder="Model" ng-model="search.model">
						</div>
						<div flex="10" layout layout-align="start stretch" my-setter margin="10">
							<md-icon flex="none" md-svg-src="{{SVG.minimum}}" layout layout-align="center center"  my-setter margin="10" ></md-icon>
							<input flex type="text" placeholder="Minimum Price" ng-model="search.minimum">
						</div>
						<div flex="10" layout layout-align="start stretch" my-setter margin="10">
							<md-icon flex="none" md-svg-src="{{SVG.maximum}}" layout layout-align="center center"  my-setter margin="10" ></md-icon>
							<input flex type="text" placeholder="Maximum Price" ng-model="search.maximum">
						</div>
						<div flex></div>
						<div flex="10" layout layout-align="start stretch"  my-setter margin="10" ng-click="SearchNow()" >
							<md-button type="submit" class="md-raised button-submit" flex> Submit details </md-button>
						</div>
					</div>
				</div>
				<div flex="20"></div>
			</div>
			<div flex="35" hide-xs hide-sm hide-md show-lg show-xl></div>
			<div flex="25" hide-xs show-sm show-md hide-lg hide-xl></div>
		</div>
	</div>
</div>