<style>
	.card {
		border: 1px solid rgba(225,225,225,0.5);
		background-color: rgba(240,240,240,0.25);
		box-shadow: 5px 5px 5px rgba(210,210,210,0.75);
	}
	.card > .card-header {
		color: black;
		font-size:1.15em;
	}
	.card-content{
		color: black;
	}
	.card-details {
		background-color: rgba(235,235,235, 1);
		margin:2px;
	}
	 .pagination-select {
		text-indent:45%;
	} 
</style>
<div flex layout="column" layout-align="start stretch">
	<div flex layout="column" layout-align="start stretch">
		<div flex="10"layout="row" layout-align="start stretch" style="background-color: rgba(240,240,240,0.1)">
			<div flex layout layout-align="start stretch" my-setter margin="10">
				<md-icon flex="none" md-svg-src="{{SVG.truck}}" layout layout-align="center center"  my-setter margin="10" ></md-icon>
				<input flex type="text" placeholder="Model" ng-model="search.model">
			</div>
			<div flex layout layout-align="start stretch" my-setter margin="10">
				<md-icon flex="none" md-svg-src="{{SVG.minimum}}" layout layout-align="center center"  my-setter margin="10" ></md-icon>
				<input flex type="text" placeholder="Minimum Price" ng-model="search.minimum">
			</div>
			<div flex layout layout-align="start stretch" my-setter margin="10">
				<md-icon flex="none" md-svg-src="{{SVG.maximum}}" layout layout-align="center center"  my-setter margin="10" ></md-icon>
				<input flex type="text" placeholder="Maximum Price" ng-model="search.maximum">
			</div>
			<div flex="10" layout layout-align="start stretch"  my-setter margin="10" >
				<md-button type="submit" class="md-raised button-submit" flex> Submit details </md-button>
			</div>
		</div>
		<div flex layout="column" layout-align="start stretch">
			<div flex layout="row" layout-align="start stretch">
				<div flex="25" layout="column" layout-align="center stretch" ng-repeat="list in offeringList | limitTo:4: (currentPage - 1) * 8"  class="card" my-setter margin="5">
					<div flex="60" layout layout-align="start strech">
						<img flex ng-src=".\assets\images\inventory\{{list.picture_1}}">
					</div>
					<div flex="10" layout layout-align="center center" class="card-header"> {{list.make}} </div>
					<div flex layout="column" layout-align="start stretch" class="card-content" style="margin: 2px;">
						<div flex layout layout-align="start stretch" class="card-details">
							<div flex="30" layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="5"></div>
								<div flex layout layout-align="start center"> Description </div>
							</div>
							<div flex="none" my-setter width-in-percent="1" style="background-color:white"></div>
							<div flex layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="2"></div>
								<div flex layout layout-align="start center"> {{list.description}} </div>
							</div>
						</div>
						<div flex layout layout-align="start stretch" class="card-details">
							<div flex="30" layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="5"></div>
								<div flex layout layout-align="start center"> Year </div>
							</div>
							<div flex="none" my-setter width-in-percent="1" style="background-color:white"></div>
							<div flex layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="2"></div>
								<div flex layout layout-align="start center"> {{list.year}} </div>
							</div>
						</div>
						<div flex layout layout-align="start stretch" class="card-details">
							<div flex="30" layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="5"></div>
								<div flex layout layout-align="start center"> Length </div>
							</div>
							<div flex="none" my-setter width-in-percent="1" style="background-color:white"></div>
							<div flex layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="2"></div>
								<div flex layout layout-align="start center"> {{list.length}} </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div flex layout="row" layout-align="start stretch">
				<div flex="25" layout="column" layout-align="center stretch" ng-repeat="list in offeringList | limitTo:4: (currentPage - 1) * 8 + 4"  class="card" my-setter margin="5">
					<div flex="60" layout layout-align="start stretch">
						<img flex ng-src=".\assets\images\inventory\{{list.picture_1}}">
					</div>
					<div flex="10" layout layout-align="center center" class="card-header"> {{list.make}} </div>
					<div flex layout="column" layout-align="start stretch" class="card-content">
						<div flex layout layout-align="start stretch" class="card-details">
							<div flex="30" layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="5"></div>
								<div flex layout layout-align="start center"> Description </div>
							</div>
							<div flex="none" my-setter width-in-percent="1" style="background-color:white"></div>
							<div flex layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="2"></div>
								<div flex layout layout-align="start center"> {{list.description}} </div>
							</div>
						</div>
						<div flex layout layout-align="start stretch" class="card-details">
							<div flex="30" layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="5"></div>
								<div flex layout layout-align="start center"> Year </div>
							</div>
							<div flex="none" my-setter width-in-percent="1" style="background-color:white"></div>
							<div flex layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="2"></div>
								<div flex layout layout-align="start center"> {{list.year}} </div>
							</div>
						</div>
						<div flex layout layout-align="start stretch" class="card-details">
							<div flex="30" layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="5"></div>
								<div flex layout layout-align="start center"> Length </div>
							</div>
							<div flex="none" my-setter width-in-percent="1" style="background-color:white"></div>
							<div flex layout layout-align="start stretch">
								<div flex="none" my-setter width-in-percent="2"></div>
								<div flex layout layout-align="start center"> {{list.length}} </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <div flex="5" layout="row" layout-align="center stretch">
			<div flex="15" layout layout-align="center center">
				<md-icon md-svg-src="{{SVG.left}}" layout layout-align="center center" flex ng-class="currentPage == 1 ? 'not-allowed' : 'pointer'" ng-click="PreviousPage()"></md-icon>
				<select flex="20"
					class="pagination-select"
					ng-model="currentPage" 
					ng-options="i for i in _.range(1,(offeringList.length/8) + 1)">
				</select>
				<md-icon md-svg-src="{{SVG.right}}" layout layout-align="center center" flex ng-class="((currentPage + 1) == offeringList.length + 1  )? 'not-allowed': 'pointer'" ng-click="NextPage()"></md-icon>
			</div>
		</div> 
	</div>
	<div flex="5"></div>
</div>